body {
    height: 4096px;
}

.scroll {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: red;
    color: white;
    text-align: center;
    z-index: 10;
}